@import url(../chrome/autohide_sidebar.css);


/* autohide_sidebar.css overrides */
#sidebar-box {
    /* --uc-sidebar-width: 137px; min size to avoid wrapping the top bar */
    --uc-sidebar-width: 80px;
    --uc-sidebar-hover-width: 300px;
    --uc-autohide-sidebar-delay: 200ms;
}

#sidebar-header,
#sidebar {
    transition: min-width 50ms linear var(--uc-autohide-sidebar-delay) !important;
}

#sidebar-box:hover>#sidebar-header,
#sidebar-box:hover>#sidebar {
    transition-delay: 150ms !important;
}
