
/* Space at the right of nav-bar for window controls */
:root[tabsintitlebar] {
    --uc-window-control-width: 115px;
}

/* Hide main tabs toolbar */
#TabsToolbar {
    visibility: collapse !important;
}

/*Hide the Titlebar*/
:root {
    --uc-toolbar-height: 38px;
}

#toolbar-menubar {
    min-height: unset !important;
    height: var(--uc-toolbar-height) !important;
    position: relative;
}

/* Line up the Windows controls with the rest of the icons in the toolbar. */
.titlebar-buttonbox-container {
    margin-top: 3px;
}

/* Sets the button design and ensures they appear in the right spot. */
.titlebar-buttonbox {
    z-index: 3 !important;
    padding-right: 3px;
}

.titlebar-buttonbox * {
    border-radius: 5px;
    width: 35px;
    height: 38px;
}

/* these were previously overrides in userChrome.css, but i think they
   are no longer useful because this file fully reimplements it?
 */

/* autohide_tabstoolbar.css overrides */
/* #navigator-toolbox:hover,
#navigator-toolbox:hover>#titlebar,
#navigator-toolbox:hover #TabsToolbar {
    transition-delay: 10s
}
 */

/* move gui buttons that are not easily customizable to the left */
/* #PanelUI-button,
#nav-bar-overflow-button,
#unified-extensions-button {
    -moz-box-ordinal-group: 0 !important;
} */

